@import url("../style/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.page {
  flex: 1 1 auto;
}

.page__main-block {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.header {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #181818;
}

.header__container {
  display: flex;
  flex: 1 1 50%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 30px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  margin: 15px 16px;
}

.menu__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #fff;
}

.menu__item_button {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 14px;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.menu__link_button {
  color: #000;
}

.main-block__container {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
}

.main-block__text {
  padding-top: 50vh;
  position: relative;
  z-index: 5;
}

.main-block__tittle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}

.main-block__company-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0.5vw;
}

.main-block__company-info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #C0C0C0;
  padding: 10px;
}

.main-block__photo-data {
  margin-top: 5%;
  margin-right: 2.77%;
}

.photo-data {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.photo-data__icon {
  margin-left: 15px;
}

.photo-data__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #FFFFFF;
}

.main-lock__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .main-block__text {
    padding-top: 40vh;
  }
  .main-block__tittle {
    font-size: 0.75rem;
  }
  .main-block__company-name {
    font-size: 2.5rem;
  }
  .main-block__company-info {
    font-size: 0.75rem;
  }
  .photo-data {
    margin-top: 20%;
  }
  .photo-data__text {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .main-block__text {
    padding-top: 30vh;
  }
  .main-block__company-name {
    font-size: 2rem;
  }
}
.whatwedo {
  background-color: #000;
}

.whatwedo__text {
  margin: 0 auto;
}

.whatwedo__tittle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
  color: #fff;
  margin: 0 0 15px 0;
}

.whatwedo__subtittle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  text-align: center;
  color: #C0C0C0;
  margin: 0 0 40px 0;
}

.whatwedo__content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 12%;
}

.whatwedo__content-item {
  padding: 42% 3% 3% 3%;
  margin: 0.7%;
}

.content-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 48.6%;
  position: relative;
  overflow: hidden;
}

.content-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-item__tittle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 3%;
}

.content-item__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #C0C0C0;
  flex: 1 1 auto;
  position: relative;
  margin-bottom: 6%;
}

.content-item__button {
  background: #FFFFFF;
  border-radius: 14px;
  display: inline-block;
  align-self: flex-start;
  position: relative;
}

.content-item__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: 0.4px;
  color: #000000;
  margin: 8px;
}
.content-item__link::before {
  content: "";
  background-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 7px;
}