// --------- IMPORT --------------------------------------------------------------------------------------------

@import url('../style/nullstyle.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// --------- COMMON STYLES -------------------------------------------------------------------------------------

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

// --------- PAGE STYLES ---------------------------------------------------------------------------------------

.page {
    flex: 1 1 auto;
}

.page__main-block {
    min-height: 90vh;
    position: relative;
    overflow: hidden;
}

.page__whatwedo {
    overflow: hidden;
}

.page__sunset {
    overflow: hidden;
    min-height: 80vh;
}

.page__tools {
    overflow: hidden;
}

.page__leafs {
    overflow: hidden;
    min-height: 80vh;
}

// --------- HEADER --------------------------------------------------------------------------------------------

.header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181818;
}

.header__container {
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin: 30px;
}

// header__menu {}
// menu {}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    margin: 15px 16px;
}

.menu__link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #fff;
}

.menu__item_button {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.menu__link_button {
    color: #000;
}

@media (max-width: 992px) {

    // !!!
    .menu {
        display: none;
    }
}

// ---------- MAIN BLOCK -------------------------------------------------------------------------------------------

//.main-block {}

.main-block__container {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
}

.main-block__text {
    padding-top: 50vh;
    position: relative;
    z-index: 5;
}

.main-block__tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main-block__company-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0.5vw;
}

.main-block__company-info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #C0C0C0;
    padding: 10px;
}

.main-block__photo-data {
    padding: 9vmin 0 0;
    margin: 0 2.77% 2.77% 0;
    position: absolute;
}

.photo-data {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.photo-data__icon {
    margin-left: 15px;
}

.photo-data__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
}

.main-lock__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .main-block__text {
        padding-top: 40vh;
    }

    .main-block__tittle {
        font-size: 0.75rem;
    }

    .main-block__company-name {
        font-size: 2.5rem;
    }

    .main-block__company-info {
        font-size: 0.75rem;
    }

    .main-block__photo-data {
        padding: 15vmax 0 0;
    }
}

@media (max-width: 375px) {
    .main-block__text {
        padding-top: 30vh;
    }

    .main-block__company-name {
        font-size: 2rem;
    }
}

// ---------- WHAT WE DO (BLOCK 2) ----------------------------------------------------------------------------

.whatwedo {
    background-color: #000;
}

//.whatwedo__body {}

.whatwedo__text {
    margin: 0 auto;
}

.whatwedo__tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 105%;
    text-align: center;
    color: #fff;
    margin: 0 0 15px 0;
}

.whatwedo__subtittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 130%;
    text-align: center;
    color: #C0C0C0;
    margin: 0 0 40px 0;
}

.whatwedo__content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12%;
}

.whatwedo__content-item {
    padding: 42% 3% 3% 3%;
    margin: 0.7%;
}

.content-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 48.6%;
    position: relative;
    overflow: hidden;
}

.content-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-item__tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 3%;
}

.content-item__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #C0C0C0;
    flex: 1 1 auto;
    position: relative;
    margin-bottom: 6%;
}

.content-item__button {
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
    align-self: flex-start;
    position: relative;
}

.content-item__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.4px;
    color: #000000;
    margin: 8px;

    &::before {
        content: "";
        background-color: #000;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 7px;
    }
}

@media (max-width: 470px) {
    .content-item__text {
        font-size: 12px;
    }

    .content-item__link {
        font-size: 12px;
    }
}

// ---------- SUNSET (BLOCK 3) ----------------------------------------------------------------------------

.sunset {
    position: relative;
}

.sunset__text {
    width: 20%;
    height: 100%;
    position: absolute;
    margin: 0 3% 0 77%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sunset__tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sunset__subtittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #C0C0C0;
}

.sunset__photo-data {
    position: absolute;
    margin-right: 2.77%;
    margin-bottom: 2%;
}

.sunset__background {
    position: relative;
    width: 100%;
    height: 80vh;
}

.sunset__background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .sunset__text {
        width: 35vw;
        margin: 0 5vw 0 60vw;
    }
}

@media (max-width: 565px) {
    .sunset__text {
        width: 45vw;
        margin: 0 5vw 0 50vw;
    }
}

@media (max-width:436px) {
    .sunset__text {
        width: 60vw;
        margin: 0 5vw 0 35vw;
    }
}

@media (max-width:330px) {
    .sunset__text {
        width: 70vw;
        margin: 0 5vw 0 25vw;
    }
}

// ---------- TOOLS (BLOCK 4) ----------------------------------------------------------------------------

//.tools {}

.tools__body {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    background-color: #000;
    position: relative;
}

.tools__body-text {
    margin: 12.2% 10%;
    padding: 10% 6% 6% 6%;

}

.tools__tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 2%;
}

.tools__headline {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 114%;
    color: #FFFFFF;
    margin-bottom: 1.5vmin;
}

.tools__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #FFFFFF;
    margin-bottom: calc(20 / 600) * 100%;
}

@media (max-width: 740px) {
    .tools__headline {
        margin-bottom: 3vw;
    }

    .tools__tittle {
        margin-bottom: 4%;
        font-size: 12px;
    }
}

.tools__button {
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
    align-self: flex-start;
    position: relative;
    margin: 8px 0 8px 0;
}

.tools__button-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.4px;
    color: #000000;
    margin: 9px;

    &::before {
        content: "";
        background-color: #000;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 7px;
    }
}

@media (max-width: 470px) {
    .tools__button-link {
        font-size: 12px;
    }

    .tools__text {
        font-size: 12px;
    }

    .tools__headline {
        font-size: 24px;
    }
}

@media (max-width: 370px) {
    .tools__button-link {
        margin: 3px;
        font-size: 10px;
        padding-right: 3px;
    }
}

.tools__body-image {
    position: relative;
}

.tools__body-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tools__photo-data {
    position: absolute;
    margin-right: 2.77%;
    margin-bottom: 2%;
}

@media (max-width: 570px) {
    .tools__photo-data {
        display: grid;
        grid-template: 1fr 1fr / 2fr 2fr;
        column-gap: 5px;
        row-gap: 7px;
    }
}

// ---------- LEAFS (BLOCK 5) ----------------------------------------------------------------------------

.leafs {
    position: relative;
}

.leafs__text {
    width: 20%;
    height: 100%;
    position: absolute;
    margin: 0 3% 0 77%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leafs__tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.leafs__subtittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #C0C0C0;
}

.leafs__photo-data {
    position: absolute;
    margin-right: 2.77%;
    margin-bottom: 2%;
}

.leafs__background {
    position: relative;
    width: 100%;
    height: 80vh;
}

.leafs__background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .leafs__text {
        width: 35vw;
        margin: 0 5vw 0 60vw;
    }
}

@media (max-width: 565px) {
    .leafs__text {
        width: 45vw;
        margin: 0 5vw 0 50vw;
    }
}

@media (max-width:436px) {
    .leafs__text {
        width: 60vw;
        margin: 0 5vw 0 35vw;
    }
}

@media (max-width:330px) {
    .leafs__text {
        width: 70vw;
        margin: 0 5vw 0 25vw;
    }
}





@media (max-width: 570px) {
    .photo-data {
        margin: 0 4% 4% 0;
    }
}